!!!
html
	title Starmap
	script(src="http://d3js.org/d3.v3.min.js")
	script(src="http://underscorejs.org/underscore-min.js")
	script(src="vendor/three.js")
	script(src="vendor/detector.js")
	script(src="vendor/stats.js")
	script(data-main="scripts/map.js", src="http://requirejs.org/docs/release/2.1.4/minified/require.js")
body
	#map
