!!!
html
	title HR in D3
	script(src="http://d3js.org/d3.v3.min.js")
	script(src="http://underscorejs.org/underscore-min.js")
	link(rel="stylesheet", href="styles/nucleosynth.css")
	script(src="scripts/layouts/d3.layout.spiral.js")
	script(src="scripts/layouts/d3.layout.grid.js")
	script(data-main="scripts/hr.js", src="http://requirejs.org/docs/release/2.1.4/minified/require.js")
body
	svg#chart
		defs
			filter#oil(filterUnits="objectBoundingBox", x="0%", y="0%", width="100%", height="100%")
				femorphology(in="SourceGraphic", radius="2", result="result_oil_morph")
				feturbulence(type="turbulence", baseFrequency="0.05", numOctaves="2", result="result_oil_turb")
				fedisplacementmap(in="result_oil_morph", in2="result_oil_turb", scale=4, xChannelSelector="R", yChannelSelector="G")
