!!!
html
	title HR in D3
	script(src="http://d3js.org/d3.v3.min.js")
	script(src="http://underscorejs.org/underscore-min.js")
	link(rel="stylesheet", href="styles/nucleosynth.css")
	script(src="scripts/d3.layout.spiral.js")
	script(src="scripts/d3.layout.grid.js")
	script(data-main="scripts/hr.js", src="http://requirejs.org/docs/release/2.1.4/minified/require.js")
body
	svg#chart
		defs
			filter#highlight
				fegaussianblur(in="SourceAlpha", result="result0", stdDeviation=22)
				fespecularlighting(in="results0", kernelUnitLength=4, lighting-color="rgb(232, 232, 232)", result="result1", specularExponent=25, surfaceScale=10)
					fedistantlight(azimuth=75, elevation=100)
				fecomposite(in="SourceGraphic", in2="result1", k2=1, k3=1, operator="arithmetic", result="result4")
				fecomposite(in="result4", in2="SourceAlpha", operator="in", result="result2")
			filter#oil
				femorphology(in="SourceGraphic", radius="2", result="result_oil_morph")
				//- feturbulance(baseFrequency=0.078)
				//- fedisplacementmap(in="result_oil_morph", in2="result_oil_turb", scale=4, xChannelSelector="R", yChannelSelector="G")