!!! xml

svg#chart(width=500, height=500, xmlns="http://www.w3.org/2000/svg", version="1.1", xmlns:xlink="http://www.w3.org/1999/xlink")
	defs
		filter#oil(filterUnits="objectBoundingBox", x="0%", y="0%", width="100%", height="100%")
			femorphology(in="SourceGraphic", radius="2", result="result_oil_morph")
			feturbulence(type="turbulence", baseFrequency="0.05", numOctaves="2", result="result_oil_turb")
			fedisplacementmap(in="result_oil_morph", in2="result_oil_turb", scale=4, xChannelSelector="R", yChannelSelector="G")
		filter#star
			feTurbulence(numOctaves="5", baseFrequency="0.1", type="fractalNoise", seed="0", in="SourceGraphic")
			feColorMatrix(result="result0", values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 3 -1 ")
			feFlood(flood-opacity="0.24242424242424243", flood-color="rgb(0,58,54)", result="result1")
			feBlend(in2="FillPaint", mode="normal", in="result1", result="result2")
			feComposite(in2="result0", operator="out", result="result3")
			feComposite(in2="SourceGraphic", operator="atop")


	g#main(transform="translate(250, 250)", style="fill:url(#star_bg)")
		circle(r=200, style="filter:url(#star)")